appdirs==1.4.3
boto==2.46.1
bz2file==0.98
click==6.7
Flask==0.12
gensim==1.0.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
smart-open==1.4.0
uWSGI==2.0.14
Werkzeug==0.11.15
wget==3.2
WTForms==2.1
