/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

div#loading {
    width: 100%;
    height: 100%;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin: auto;
    display: none;
    background: url(/static/images/ajax-loader.gif) no-repeat;
    cursor: wait;
  }

div#onloading {
    width: 100%;
    height: 100%;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin: auto;
    background: url(/static/images/ajax-loader.gif) no-repeat;
    cursor: wait;
  }
