<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Neurodo | Help</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>

    <script type="text/javascript">
        function loading() {
            $("#content").hide();
            $("#loading").show();
        }
    </script>

    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>

<div id="content">

   <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/">Neurodo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="col s6">
            <h4>FAQ</h4>

            <p>Methodologies will be written up soon (with code examples).</p>

            <b>Who do I contact for further help?</b>
            <p>You can reach me at kev@umd.edu</p>

        </div>
    </div>

</div>

<div id="loading"></div>

</body>

</html>
